<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="genericgraphmetamodel.GenericgraphmetamodelPackage" genModel="model/Genericgraphmetamodel.genmodel" uri="platform:/resource/genericgraphmetamodel/model/Genericgraphmetamodel.ecore"/>
  </extension>
</plugin>
