<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="stringmodel.StringmodelPackage" genModel="model/Stringmodel.genmodel" uri="platform:/resource/gipsl.string.stringmodel/model/Stringmodel.ecore"/>
  </extension>
</plugin>
