src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
*.LOG
test.suite.gips/*.xmi

test.suite.gips/build/

*.html

genericgraphmetamodel/instances/gen.xmi

shortestpath/gurobi.lp

test.suite.gips/gurobi.lp

**/.DS_Store

**/trace_cache.bin

gips.tsp.citymodel/gen/

gips.tsp.citymodel/model/Citymodel.genmodel
