<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="edfmodel.EdfmodelPackage" genModel="model/Edfmodel.genmodel" uri="platform:/resource/gips.edf.edfmodel/model/Edfmodel.ecore"/>
  </extension>
</plugin>
