<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="timeoutmodel.TimeoutmodelPackage" genModel="model/Timeoutmodel.genmodel" uri="platform:/resource/gips.ilp.timeout.timeoutmodel/model/Timeoutmodel.ecore"/>
  </extension>
</plugin>
